<style>
  .sunucusresmi {
    border-radius: 50% !important;
    border: 2px solid white;
    padding: 1px;
}
.avatar {
  border-radius: 50% !important;
  border: 2px solid white;
  padding: 1px;
}
#avatar2 {
    width: 200px;
    height: 200px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    text-align:center;
  margin : 0 auto 0 auto;
}
    #avatar2:hover {
        transform: translate(0px,-20px);
        -webkit-transform: translate(0px,-20px);
	}
  </style>
 
<title>Crew Code #Hyper | Ana Sayfa</title>

 
  <body>

 
    <center>
<img src="https://cdn.glitch.com/67197061-12b8-408d-a001-f9786209ff19%2Fcreww.png?v=1620210722195" alt="Crew Code Icon" height="200" width="250"/>
     <br>
      <br>
      <h1>Crew Code</h1>
      <h6>Discord Türkiye Aleminin En büyük Botlist , Kod Paylaşım , Şablon ve Partner Hizmeti sunan en büyük WEB sitesiyiz!</h6>
      <hr>
        <br>
        <br>
        <a href="https://top.gg/bot/779006421625995345" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fa fa-robot"></i>   MeeT</a>
       <a href="https://discord.gg/zdpUEuvsmx" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fab fa-discord"></i>   Discord Sunucumuz</a>
    <a href="kodlar.html" target="_blank" class="btn btn-outline-warning btn-lg"> <i class="fa fa-code"></i>   Kodlar</a>
      <br>
      
      
 
</center>
    


 




</body>


<style>a{
color: white;
}</style>

<footer class="footer">
<hr>

  <center>
  

  
      <div class="container">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
       
      <a style="text-align:left; font-size:15px">© 2021 &nbsp<a href="https://crewcodesite.glitch.me/">Crew Code</a></a>
      <br>
      <a style="text-align:left; font-size:15px">Created By. &nbsp<a href="https://www.instagram.com/xq.mustafa.a/">Mustafa Karakuş</a></a>
      <br>
      <style> i {
        margin-left: 5px;
      }</style>
            <a href="https://mail.google.com/mail/u/0/#sent?compose=VpCqJVDwQLtwTqLlTZqJcKcrvCMpZtMsjGTJkldphMbCZGzKWMghFJsQBWSrFvnTXmZDKJg"><i class="fa fa-at"></i></a>
         <a href="https://studio.youtube.com/channel/UCFWkgTpLpQAsvaEi-YwpPig/videos"><i class="fab fa-youtube"></i></a>
   <a href="https://www.instagram.com/xq.mustafa.a/"><i class="fab fa-instagram"></i></a>
      <a href="https://discord.gg/zdpUEuvsmx"><i class="fab fa-discord"></i></a>
  <br><br>
  
<br>
    </div>
  </center>
</footer>

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script></html>
